{% extends 'base.html' %}

{% block content_wrapper %}
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('views.index') }}"><i class="fa fa-bug"></i> Mushi</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#milestones">Milestones</a></li>
        <li><a href="#issues">Issues</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ auth_user.name }} <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#settings">Settings</a></li>
            <li><a href="#logout">Sign out</a></li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="container mu-content">

  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li class="active">Dashboard</li>
      </ol>
    </div>
  </div>

  <div class="row">
    <article class="mu-component mu-list-wrapper col-md-12">
      <div class="panel panel-default">
        <header class="panel-heading clearfix">
          <div class="pull-left">
            <h2><i class="fa fa-list"></i> Milestones</h2>
          </div>
          <div class="pull-right">
            <span class="mu-filter-wrapper">
              <div class="input-group">
                <div class="input-group-btn">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-search"></i> <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">In progress</a></li>
                    <li><a href="#">Finished</a></li>
                    <li><a href="#">Overdue</a></li>
                  </ul>
                </div><!-- /btn-group -->
                <input type="text" class="form-control" aria-label="Filter results" placeholder="Filter results">
              </div>
            </span>
            <span class="mu-button-wrapper">
              <button role="button" class="btn btn-success"><i class="fa fa-plus"></i></button>
            </span>
          </div>
        </header>

        <div class="panel-body">
          <div id="mu-todo-list" class="mu-list">
            <div class="mu-list-item">
              <div class="container-fluid">
                <div class="row">
                  <div class="mu-milestone-title col-sm-6">
                    <div class="mu-milestone-name">
                      <a href="#">Version 1.0</a>
                    </div>
                    <div class="mu-milestone-meta">
                      <span class="mu-milestone-meta-item">
                         No due date
                      </span>
                    </div>
                    <div class="mu-milestone-description">
                      This milestone tracks the next major release. This might be 1.0, but I'd like to
                      have a clear distinction from things that break backwards compat.
                    </div>
                  </div>
                  <div class="mu-milestone-progress col-sm-6">
                    <div class="mu-milestone-progress-bar">
                      <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="63" aria-valuemin="0" aria-valuemax="100" style="width: 63%;">
                          <span class="sr-only">60% Complete</span>
                        </div>
                      </div>
                    </div>
                    <div class="mu-milestone-progress-meta">
                      63% (4 open and 7 closed)
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mu-list-item">
              <div class="container-fluid">
                <div class="row">
                  <div class="mu-milestone-title col-sm-6">
                    <div class="mu-milestone-name">
                      <a href="#">Version 2.0</a>
                    </div>
                    <div class="mu-milestone-meta">
                      <span class="mu-milestone-meta-item">
                         No due date
                      </span>
                    </div>
                    <div class="mu-milestone-description">
                    </div>
                  </div>
                  <div class="mu-milestone-progress col-sm-6">
                    <div class="mu-milestone-progress-bar">
                      <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                          <span class="sr-only">0% Complete</span>
                        </div>
                      </div>
                    </div>
                    <div class="mu-milestone-progress-meta">
                      0% (3 open and 0 closed)
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>

    <article class="mu-component mu-list-wrapper col-md-6">
      <div class="panel panel-default">
        <header class="panel-heading clearfix">
          <div class="pull-left">
            <h2><i class="fa fa-exclamation-circle"></i> Issues</h2>
          </div>
          <div class="pull-right">
            <span class="mu-filter-wrapper">
              <div class="input-group">
                <div class="input-group-btn">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-search"></i> <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Open</a></li>
                    <li><a href="#">Closed</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Critical</a></li>
                    <li><a href="#">Important</a></li>
                    <li><a href="#">Minor</a></li>
                  </ul>
                </div><!-- /btn-group -->
                <input type="text" class="form-control" aria-label="Filter results" placeholder="Filter results">
              </div>
            </span>
            <span class="mu-button-wrapper">
              <button role="button" class="btn btn-success"><i class="fa fa-plus"></i></button>
            </span>
          </div>
        </header>

        <div class="panel-body">
          <div id="mu-issue-list" class="mu-list">
            <div class="mu-list-item clearfix">
              <div class="mu-issue-status">
                <i class="fa fa-exclamation-circle"></i>
              </div>
              <div class="mu-issue-description">
                <div class="mu-issue-label">
                  <span class="label label-warning">important</span> <a href="#">This is an issue we shall discuss.</a>
                </div>
                <div class="mu-issue-meta">
                  <span class="mu-issue-meta-item">#1 by <a href="#">mushi</a>, 5 days ago</span>
                  <span class="mu-issue-meta-item">
                    <i class="fa fa-tag"></i>
                    <a href="#">sometag</a>, <a href="#">another</a>
                  </span>
                </div>
              </div>
              <div class="mu-issue-actions">
                <button role="button" class="btn btn-xs btn-default">
                  Close
                </button>
              </div>
            </div>
            <div class="mu-list-item clearfix">
              <div class="mu-issue-status">
                <i class="fa fa-check"></i>
              </div>
              <div class="mu-issue-description">
                <div class="mu-issue-label">
                  <span class="label label-danger">critical</span> <a href="#">Impossible to open mails from the dropdown.</a>
                </div>
                <div class="mu-issue-meta">
                  <span class="mu-issue-meta-item">#2 by <a href="#">mushi</a>, 1 week ago</span>
                  <span class="mu-issue-meta-item">
                    <i class="fa fa-tag"></i>
                    <a href="#">sometag</a>
                  </span>
                </div>
              </div>
              <div class="mu-issue-actions">
                <button role="button" class="btn btn-xs btn-default">
                  Reopen
                </button>
              </div>
            </div>
          </div>
        </div>

        <footer class="panel-footer">
          <nav class="mu-pagination-wrapper text-right">
            <ul class="pagination">
              <li class="disabled">
                <a href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li>
                <a href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </footer>
      </div>
    </article>

    <article class="mu-component mu-list-wrapper col-md-6">
      <div class="panel panel-default">
        <header class="panel-heading clearfix">
          <div class="pull-left">
            <h2><i class="fa fa-check-square"></i> Todo</h2>
          </div>
          <div class="pull-right">
            <span class="mu-filter-wrapper">
              <div class="input-group">
                <div class="input-group-btn">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-search"></i> <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Open</a></li>
                    <li><a href="#">Closed</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Critical</a></li>
                    <li><a href="#">Important</a></li>
                    <li><a href="#">Minor</a></li>
                  </ul>
                </div><!-- /btn-group -->
                <input type="text" class="form-control" aria-label="Filter results" placeholder="Filter results">
              </div>
            </span>
            <span class="mu-button-wrapper">
              <button role="button" class="btn btn-success"><i class="fa fa-plus"></i></button>
            </span>
          </div>
        </header>

        <div class="panel-body">
          <div id="mu-todo-list" class="mu-list">
            <div class="alert alert-info" role="alert">
              <i class="fa fa-info-circle"></i> You don't have any pending todo item!
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>
{% endblock content_wrapper %}

{% block page_scripts %}
<script type="text/javascript" src="//fb.me/react-0.13.3.js"></script>
<script type="text/javascript" src="//fb.me/JSXTransformer-0.13.3.js"></script>
{% endblock page_scripts %}